.card {
    border: 1px solid lightgrey;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }
    .card-body {
      padding: 1rem;
    }
  }
  
  